yaxi
lazytype
https://bitbucket.org/stefancountryman/hpmoc/downloads/hpmoc-latest-py3-none-any.whl
healpy
json2html
slackclient
# numpy, typish
nptyping
# no extra deps
tabulate

# BIG INSTALL
twilio
#voevent-parse

# DEPRECATED
#tables
#py-spy
